footer
    .container
        .row.justify-content-center
            .col-md-5.col-lg-4.col-xl-3
                h3 Контакты
                ul.links-contacts
                    li
                        +link2('tel:+38(050)9628252', '+38 (050) 962 82 52')
                    li
                        +link2('mailto:ino_masterskaya@gmail.com', 'ino_masterskaya@gmail.com')
            .col-md-5.col-lg-4.col-xl-3
                h3 Адрес
                p ул. Басейная, 123, ТЦ PROMENADA, м. Лукьяновка Киев, Украина

            .col-12
                ul.social-links
                    li
                        a(href='#' title='Facebook')
                            i.fa.fa-facebook-official
                    li
                        a(href='#' title='VKontakte')
                            i.fa.fa-vk
                    li
                        a(href='#' title='Instagram')
                            i.fa.fa-instagram

