@import '../../utilities/vars'
@import '../../utilities/mixins'

/* MAIN STYLES */

html
  overflow-x hidden

body
  overflow-x hidden
  font(16px, $black, 400, normal)
  background $back-gray
  +mobile()
    padding-top 65px

.container
  +displays()
    width 1170px