.blogin
  h2
    color $white
    font-size 1.625em
    text-transform none
.blog-head-container
  min-height 147px
.blog-head
  position absolute
  left 0
  right 0
  top -146px
  +mobile()
    left: 15px;
    right: 15px;
    top: -110px;
  .item-news--list
    margin-bottom 19px
  .blog-img
    width 100%
    height 180px
    overflow hidden
    text-align center
    display flex
    justify-content:center
    +mobile()
      justify-content flex-start
    img
      min-height 180px
      width auto
