@import '../../utilities/vars'
@import '../../utilities/mixins'

.item-catalog
  padding-bottom 15px
  margin-bottom 90px
  display block
  img
    margin-bottom 18px
  &--info
    padding 0 32px
    p
      font-size 1.125em
  &--price
    font-weight 500
    font-size: 1.875em
    color: $white
    text-align right
  &--number
    display block
    line-height 2
  &--order
    display none
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25
    letter-spacing: 2.5px;
    color: $orange
    border-bottom 2px solid $orange
    padding-bottom 5px
  &:after
    pseudo(block, absolute)
    bottom 90px
    right 15px
    left 15px
    background $back-gray2
    height: 184px
    z-index -1
    transitions()
  &:hover
    &:after
      background $back-black2
    .item-catalog--number
      display none
    .item-catalog--order
      display inline-block

.catalog-size
  .catalog-back
    opacity 0
    position absolute
    bottom 0
  .catalog-front
    opacity 1
  &:hover
    .catalog-back
      opacity 1
    .catalog-front
      opacity 0

.sizes
  position absolute
  left 0
  bottom 0
  max-width 70px
  text-align left
  color $back-black2
  font-weight 500