@import '../../utilities/vars'
@import '../../utilities/mixins'

.item-catalog
  padding-bottom 15px
  margin-bottom 90px
  display block
  img
    margin-bottom 18px
  &--info
    padding 0 32px
    p
      font-size 1.125em
  &--price
    font-weight 500
    font-size: 1.875em
    color: $white
    text-align right
  &--number
    display block
    line-height 2
  &--order
    display none
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25
    letter-spacing: 2.5px;
    color: $orange
    border-bottom 2px solid $orange
    padding-bottom 5px
  &:after
    pseudo(block, absolute)
    bottom 90px
    right 15px
    left 15px
    background $back-gray2
    height: 184px
    z-index -1
    transitions()
  &:hover
    &:after
      background $back-black2
    .item-catalog--number
      display none
    .item-catalog--order
      display inline-block

.catalog
  border-radius 0
  padding-top 40px
  text-align center
  padding-bottom 0px
  margin-bottom 243px
  max-height 395px
  +portrait()
    max-height unset
  +mobile()
    max-height unset
    margin-bottom 120px

.catalog-nav
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content space-between
  padding 0
  +mobile()
    flex-wrap wrap
  li
    list-style none
    flex 1 1 calc(25% - 20px)
    max-width calc(25% - 20px)
    +mobile()
      flex: 1 1 100%
      max-width 100%
    margin-bottom 15px
    a
      display block
      text-align center
      font-weight 600
      font-size: 1.25em
      line-height: 1.2
      letter-spacing: 2.5px
      color: $back-black2
      background $text-gray4
      padding 16px 0 17px
      border-bottom 4px solid transparent
      &:hover
        background $text-gray5
        border-bottom 4px solid $white
    a.active
      background $text-gray5
      color $white
      &:hover
        border-bottom-color $text-gray5

.catalog-sizes-drum
  text-align center
  position relative
  bottom -75px
  +mobile()
    position static

.catalog-size
  +mobile()
    margin-bottom 15px
  .catalog-back
    opacity 0
    position absolute
    bottom 0
    transitions()
    +tablet()
      opacity 1

  .cs1
    left calc(50% - 115px)
  .cs2
    left calc(50% - 97.5px)
  .cs3
    left calc(50% - 80px)
  .catalog-front
    opacity 1
    transitions()
    +tablet()
      opacity 0
  &:hover
    .catalog-back
      opacity 1
    .catalog-front
      opacity 0
    .sizes
      color $back-black2

.sizes
  position absolute
  left 0
  bottom 0
  max-width 70px
  text-align left
  color transparent
  font-weight 500
  transitions()
  +mobile()
    color $white
    position relative
    text-align center
    max-width unset
    margin-bottom 10px
    margin-top 20px

  +tablet()
    color $back-black2
  +portrait()
    color $back-black2