.product
  text-align left
  h1
    font-size: 1.375em
    letter-spacing: 9.2px;
    text-align left
    &:after
      left 0
  .price
    font-size 1.875em
    margin-bottom 40px
  .link-text
    font-size 1.125em
  .sound-circle
    width 360px
    height 360px
    margin-top 0
    .sound-circle--drum
      width 256px
      height  256px
      top calc(50% - 128px);
      left calc(50% - 128px);
