@import '../../utilities/vars'
@import '../../utilities/mixins'

/* SECTIONS AND ARTICLES */
section
  margin-bottom 80px

article {}

.justify-content-center
  justify-content center

.align-items-flex-end
  align-items flex-end

.align-items-baseline
  align-items flex-end

.spacer-30
  width 100%
  height 30px