@import '../../utilities/vars'
@import '../../utilities/mixins'

/* SECTIONS AND ARTICLES */
section
  margin-bottom 80px

article {}

.justify-content-center
  justify-content center

.align-items-baseline
  align-items flex-end