@import "../../utilities/vars"
@import "../../utilities/mixins"

/* BUTTON */
button
  transitions()
  cursor pointer
  margin 15px auto
  max-width 360px
  width 100%

  &:focus
    outline none

button.button
  padding 19px 0 22px

.button
  background $text-orange
  color $black
  text-align center
  display block
  font-weight 600
  line-height: 1.2;
  letter-spacing: 2.5px;
  font-size: 1.25em;
  color: $back-black2
  padding 11px 0 23px
  margin-bottom 10px
  border none
  &:hover
    background $orange2
    color $back-black
  .fa
    position relative
    margin-left 22px
    top 4px
    font-size 30px
    transition .4s transform ease
  &:hover
    .fa
      transform translateX(25px)

.button.transparent
  color $text-orange
  background transparent
  &:hover
    color $orange2



