@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADER */
header
  background $back-black
  padding-bottom 85px
  border-bottom-left-radius 50%
  border-bottom-right-radius 50%
  margin-bottom 145px
  +mobile()
    border-radius 0


.header-index
  border-radius 0
  background url('../img/Oval.png') no-repeat;
  background-position center bottom
  background-size: cover;