@import '../../utilities/vars'
@import '../../utilities/mixins'

/* NAVIGATION */
nav
  background $back-black
  padding 26px 0
  +mobile()
    position fixed
    left 0
    right 0
    top 0
    z-index: 100
    padding 10px 0

.nav-mobile
  display none
  +mobile()
    display block

.nav-display
  +mobile()
    display none
    height 100vh

.menu
  display flex
  flex-direction row
  flex-wrap wrap
  padding 0
  li
    list-style none
    margin 0 39px
    +tablet()
      margin 0 15px
    +portrait()
      margin 0
      flex 1 1 100%
      max-width 100%
    +mobile()
      margin 0
      flex 1 1 100%
      max-width 100%
    a
      color $text-gray
      border-bottom 2px solid transparent
      display block
      font-weight 500
      padding 6px 0
      &:hover
        border-bottom-color $orange
      +mobile()
        font-size: 1.375em
      padding 10px 0
    ul
      display flex
      flex-direction row
      flex-wrap wrap
      padding 0
      li
        position relative
        margin 0
        +portrait()
          flex 1 1 50%
          max-width 50%
        +mobile()
          flex 1 1 25%
          max-width 25%
        &:first-child
          margin-right 30px
          +portrait()
            margin 0
          +mobile()
            margin 0
          &:after
            pseudo(block, absolute)
            width 4px
            height 4px
            border-radius 50%
            background $black
            right -17px
            top 18px
        a
          &:hover
            border-bottom-color transparent
            color $black
        a.active
          color $black
          cursor default
          &:hover
            color $black
.menu.left
  +mobile()
    margin 0
  li
    margin-left 0

.menu.right
  justify-content: flex-end;
  +portrait()
    text-align right
  +mobile()
    margin 0
  li
    margin-right 0


.site-logo
  display block
  width 100%
  text-align center
  +mobile()
    display none

#nav-icon4 {
  margin 10px 0
  width: 35px;
  height: 22px;
  position: relative;
  transform: rotate(0deg)
  transition: .5s ease-in-out;
  cursor: pointer;
  float right
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $text-gray
  border-radius: 9px;
  opacity: 1;
  left: 0
  transform: rotate(0deg)
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 10px
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 20px
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 22px;
  left: 8px;
}

