.pagination-nav
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content space-between
  padding 0
  li
    list-style none
    a
      font-size 1.25em
      line-height: 1.2;
      letter-spacing: 2.5px;
      color: $text-orange;
      &:hover
        color $back-black
      .fa
        font-size 25px
    a.active
      color $back-black