//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Инопланетная Мастерская - Наша планета

block content

    header.about.product
        .container
            .row.justify-content-center
                .col-md-6.col-lg-3
                    span.spacer-20
                    h1 ИНСТРУМЕНТ «БУДДА»
                    h3 Средний
                    p Диаметр: 34 сантиметра
                        br
                        | 13,3 дюйма
                        br
                        | Высота: 16 сантиметров
                        br
                        | 6,2 дюйма
                    p 10 симметрично расположенных круглых лепестка
                        br
                        | 10 нот
                .col-md-6.col-lg-5.col-xl-4
                    .sound-circle
                        .sound-circle--play
                            ul.sound-circle--colors
                                li
                                        img(src='img/colors/color1.png' title='' class='color')
                                li
                                        img(src='img/colors/color2.png' title='' class='color')
                                li
                                        img(src='img/colors/color3.png' title='' class='color')
                        img(src='img/index/drum-sound.png' title='' alt='' class='sound-circle--drum')
                .col-lg-3
                        span.spacer-40
                        h3.price $127
                        h3 Цвета
                        p Черный ( Антикорозийная защита)
                            br
                            | Хамелеон
                            br
                            | Золотой
                        a(href='' title='' class='link-text') Прослушать звукоряд
                .col-md-4
                    a(href='#modal2' title='' class='button') Заказать
    section.container
        .row.justify-content-center
            .col-12
                h2 ПОДРОБНОСТИ ЗАКАЗА
            .col-md-8.col-lg-6
                p
                    | Гарантия 12 месяцев. Цена указана за базовую модель без рисунка и антикорозийного покрытия. Возможны варианты с различными рисунками. Заказать свой рисунок можно, написав при заказе комментарий, что вы хотите рисунок. Мы свяжемся с вами для уточнения деталей. Для индивидуального заказа перейдите к форме ниже.
        .row.spacer-30
    section.container
        .row.justify-content-center
            .col-md-8.col-lg-6
                h2 ИНДИВИДУАЛЬНЫЙ ЗАКАЗ
                p.text-center Так же мы готовы изготовить для тебя инструмент под индивидуальные требования, с уникальным рисунком, обработкой и цветом. Для этого cвяжись с нами по телефону или напиши.
        .row.justify-content-center
            .col-md-8
                form
                    input(type='text' placeholder='Введите имя' required)
                    input(type='mail' placeholder='E-mail' required)
                    textarea(placeholder='Ваш вопрос' required)
                    button(class='button' type='submit') Отправить
    //new
    .remodal(data-remodal-id='modal2')
        button.remodal-close(data-remodal-action='close')
        .container

            .row.justify-content-center
                .col-md-10.col-lg-8
                    h2.white Заполните форму заказа
            .row.justify-content-center.text-left
                .col-md-5.col-lg-4
                    h6 Инструмент «Будда»
                    p Ø 34 см 10 нот
                .col-md-3.col-lg-2
                    ul.sound-circle--colors
                        li
                            img(src='img/colors/color1.png' title='' class='color')
                        li
                            img(src='img/colors/color2.png' title='' class='color')
                        li
                            img(src='img/colors/color3.png' title='' class='color')
                    p Цвет:
                        | &nbsp;
                        span Черный
                .col-md-2
                    p.item-catalog--price $127
                .col-md-10.col-lg-8
                    form
                        input(type='text' placeholder='Введите имя' required)
                        input(type='mail' placeholder='E-mail' required)
                        textarea(placeholder='Пожелаения. Например: Индивидуальный рисунок.')
                        button(class='button' type='submit') Заказать

                .col-md-5.hidden
                    h2.white Спасибо за заказ
                    p Наш менеджер свяжеться с вами в ближайшее время. Хорошего дня!
