//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Инопланетная Мастерская - Наша планета

block content

    header.about.product
        .container
            .row.justify-content-center
                .col-md-3
                    h1 ИНСТРУМЕНТ «БУДДА»
                    h3 Средний
                    p Диаметр: 34 сантиметра
                        br
                        | 13,3 дюйма
                        br
                        | Высота: 16 сантиметров
                        br
                        | 6,2 дюйма
                    p 10 симметрично расположенных круглых лепестка
                        br
                        | 10 нот
                .col-md-4
                    .sound-circle
                        .sound-circle--play
                            img(src='img/sound2.png' title='')
                        img(src='img/index/drum-sound.png' title='' alt='' class='sound-circle--drum')
                .col-md-3
                        h3.price $127
                        h3 Цвета
                        p Черный ( Антикорозийная защита)
                            br
                            | Хамелеон
                            br
                            | Золотой
                        a(href='' title='' class='link-text') Прослушать звукоряд
                .col-md-4
                    a(href='' title='' class='button') Заказать
    section.container
        .row.justify-content-center
            .col-md-11
                img(src='img/about/about1.png' title='' alt='' class='img-responsive about-img-big')
            .col-12
                h2 О МАСТЕРСКОЙ
            .col-md-8.col-lg-6
                p
                    | Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню
            .col-md-10.col-lg-8
                img(src='img/about/about2.png' title='' alt='' class='img-responsive about-img-small')
            .col-12
                h2 УНИКАЛЬНОСТЬ РАБОТЫ
            .col-md-8.col-lg-6
                p
                    | Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню
        .row.spacer-30
    section.container
        .row
            .col-12
                h2 Остались вопросы?
        .row.justify-content-center
            .col-md-8
                form
                    input(type='text' placeholder='Введите имя' required)
                    input(type='mail' placeholder='E-mail' required)
                    textarea(placeholder='Ваш вопрос' required)
                    button(class='button' type='submit') Отправить
