//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Инопланетная Мастерская - Вопросы

block content

    header.catalog.comment
        .container
            .row.justify-content-center
                .col-12
                    h1 ОТЗЫВЫ
                .col-md-8.col-lg-6.text-center
                    p Что это за чудо-инструмент? Как на нем играть и кому он нужено (коротко) Его особенности и отличия. Мы с радостью поможем попасть на нашу планету и поможем подобрать инструмент.
            .row.spacer-30
            .row.justify-content-center
                .col-md-6.col-lg-4
                    a(href='#modal' title='' class='button comment-button') Оставить отзыв
    section.container
        .row
            .col-md-6
                a(href='#' title='' class='item-comment')
                    .row.item-comment--top
                        .col-12
                            h4 Степан Иванов
                            .item-comment--text
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                    .row.item-comment--bottom
                        .col-md-6
                            ul.item-comment--list
                                li 21.06.2017
                        .col-md-6
                            .item-comment--read читать больше
                                i.fa.fa-angle-down
            .col-md-6
                a(href='#' title='' class='item-comment')
                    .row.item-comment--top
                        .col-12
                            h4 Степан Иванов
                            .item-comment--text
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                    .row.item-comment--bottom
                        .col-md-6
                            ul.item-comment--list
                                li 21.06.2017
                        .col-md-6
                            .item-comment--read читать больше
                                i.fa.fa-angle-down
            .col-md-6
                a(href='#' title='' class='item-comment')
                    .row.item-comment--top
                        .col-12
                            h4 Степан Иванов
                            .item-comment--text
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                    .row.item-comment--bottom
                        .col-md-6
                            ul.item-comment--list
                                li 21.06.2017
                        .col-md-6
                            .item-comment--read читать больше
                                i.fa.fa-angle-down
            .col-md-6
                a(href='#' title='' class='item-comment')
                    .row.item-comment--top
                        .col-12
                            h4 Степан Иванов
                            .item-comment--text
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                    .row.item-comment--bottom
                        .col-md-6
                            ul.item-comment--list
                                li 21.06.2017
                        .col-md-6
                            .item-comment--read читать больше
                                i.fa.fa-angle-down
            .col-md-6
                a(href='#' title='' class='item-comment')
                    .row.item-comment--top
                        .col-12
                            h4 Степан Иванов
                            .item-comment--text
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                    .row.item-comment--bottom
                        .col-md-6
                            ul.item-comment--list
                                li 21.06.2017
                        .col-md-6
                            .item-comment--read читать больше
                                i.fa.fa-angle-down
            .col-md-6
                a(href='#' title='' class='item-comment')
                    .row.item-comment--top
                        .col-12
                            h4 Степан Иванов
                            .item-comment--text
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                    .row.item-comment--bottom
                        .col-md-6
                            ul.item-comment--list
                                li 21.06.2017
                        .col-md-6
                            .item-comment--read читать больше
                                i.fa.fa-angle-down
            .col-md-6
                a(href='#' title='' class='item-comment')
                    .row.item-comment--top
                        .col-12
                            h4 Степан Иванов
                            .item-comment--text
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                    .row.item-comment--bottom
                        .col-md-6
                            ul.item-comment--list
                                li 21.06.2017
                        .col-md-6
                            .item-comment--read читать больше
                                i.fa.fa-angle-down
            .col-md-6
                a(href='#' title='' class='item-comment')
                    .row.item-comment--top
                        .col-12
                            h4 Степан Иванов
                            .item-comment--text
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                    .row.item-comment--bottom
                        .col-md-6
                            ul.item-comment--list
                                li 21.06.2017
                        .col-md-6
                            .item-comment--read читать больше
                                i.fa.fa-angle-down

    section.container
        .row.justify-content-center
            .col-10.col-md-4
                ul.pagination-nav
                    li
                        a(href='' title='')
                            i.fa.fa-angle-left
                    li
                        a(href='' title='') 1
                    li
                        a(href='' title='') 2
                    li
                        a(href='' title='') ...
                    li
                        a(href='' title='')
                            i.fa.fa-angle-right
        .row.spacer-80

    .remodal(data-remodal-id='modal')
        button.remodal-close(data-remodal-action='close')
        .container

            .row.justify-content-center
                .col-md-10.col-lg-8
                    h2.white Оставить отзыв

                    form
                        input(type='text' placeholder='Введите имя' required)
                        input(type='mail' placeholder='E-mail' required)
                        textarea(placeholder='Ваш вопрос' required)
                        button(class='button' type='submit') Отправить

                .col-md-5.hidden
                    h2.white Спасибо за отзыв
                    p Рады приветсвтовать тебя на нашей планете. Нам очень важно ваше мнение.
